[2017-12-01 04:14] jayvdb opened #1 "Add org logo and a favicon"
As this repository should be usable for any org, ~~detect the name of the GitHub org  from the Travis environment variables~~, and fetch the org's logo.

And then convert the logo into a favicon.

[2017-12-01 04:16] jayvdb opened #2 "Create django data model for GCI students"

[2017-12-01 04:48] jayvdb opened #3 "Build on forks with a static data file"
We can export a subset of the data as yaml/json, and store it in the repository, so that people can develop without access to a GCI API token

[2017-12-01 04:50] jayvdb opened #4 "Remove use of IGitt's write_repositories"
Using IGitt's `write_repositories` allows easy access to the repositories, but it is not necessary.
This may need upstream enhancements.

[2017-12-01 05:00] jayvdb opened #5 "Add github cards for each github user"
See http://lab.lepture.com/github-cards/  for how to easily create a GitHub Card.
As the list of users is dynamic, the solution needs to be dynamic.

[2017-12-01 05:06] jayvdb opened #6 "Create a .coafile"
The .coafile should check the file types already in this repository,

and it should reject the word 'coala' appearing in any file.

[2017-12-01 05:26] jayvdb opened #7 "Add "last generated" timestamp"
As the contents of the page include a static snapshot of org activity , it is important to know when it was last generated in UTC, and show how long ago it was generated , aware that the readers timezone is likely not UTC.

[2017-12-01 05:30] jayvdb opened #8 "Add Travis build URL to website"
As the website has to cater with unexpected data , the website build scripts will be permissive, logging errors rather than failing.
Currently the Travis build logs are the best spot for logging.

[2017-12-01 05:31] jayvdb opened #9 "Use logging"
Instead of print statements to the travis log, problems should be logged properly and a view generated with the logs.

[2017-12-01 05:52] jayvdb opened #10 "Create a README.md"
The readme needs to say:

- This repository is a static django website
- It uses the [GCI *private* API](https://developers.google.com/open-source/gci/resources/downloads/TaskAPISpec.pdf)
- But it only re-publishes publicly available information
- It uses IGitt to support both GitHub & GitLab

[2017-12-01 05:54] jayvdb opened #11 "Add mentors to the site"

[2017-12-01 06:47] jayvdb commented on #3
Ideally https://github.com/coala/community/issues/2 is solved first.

[2017-12-01 07:11] sks444 commented on #2
@jayvdb, I would like to work on this issue.

[2017-12-01 07:14] jayvdb opened #12 "Add pages showing the org teams"
I think want at least the coala maintainers, coala developers and coala newcomer teams to have a page, with a list of team members similar to https://coala.io/#/getinvolved .

I think it is OK to have a page about all teams in https://github.com/orgs/coala/teams .

However we also need a way to name our temporary teams so that they do not appear on the website.

e.g. @adtac created a team to help

[2017-12-01 08:19] jayvdb commented on #2
@sks444 , you do not appear to be a member of the coala org at the moment.  I thought you joined?  Did you leave?  If not, I'll try to find what is going wrong.

[2017-12-01 08:48] sks444 commented on #2
@jayvdb, Yes, I joined the coala one month ago at Pycon India and I didn't leave, my profile is still showing that I am the member of coala.

Sure. :)

[2017-12-01 17:01] jayvdb commented on #2
Found the problem; sorry for the delay

[2017-12-03 14:26] yukiisbored opened #15 "Use Travis CI GitHub pages deployment feature."
Related to https://github.com/coala/coala-html/pull/143#issuecomment-348769561

Personally, I think it's preferable to use Travis's GitHub deployment feature rather than relying on a pretty hacky script.

[2017-12-03 15:14] jayvdb commented on #15
No.

[2017-12-03 15:14] #15 closed

[2017-12-03 20:09] #6 closed

[2017-12-04 04:00] Grox-Ni opened #18 "Add a way to acquire participants’ geolocation"
**Description**
A way to get participants’ geolocation is important for any org to show its global influence, this can be used for map display and statistics.

**Purpose**
To show how people from different regions can together join open source projects and make the project great together so more people might be encouraged. Moreover, it can strengthen the local bond in open source project developme

[2017-12-04 04:16] jayvdb opened #19 "Django 2.0 breaks distill"
Upstream https://github.com/mgrp/django-distill/issues/7

[2017-12-04 04:52] jayvdb opened #21 "python manage.py distill-local returns exit status 0 on failure"
There have been a few failures to build, which havent been seen because `python manage.py distill-local` doesnt return a non-zero exit status.

https://github.com/coala/community/issues/19 is one such occurrence, which was with Django 2.

Here is the same occurring when using Django <2.0

https://travis-ci.org/jayvdb/coala_community/builds/311125722#L1182

As a result of this occurring on Django <

[2017-12-04 04:57] jayvdb commented on #21
The exception is rippling all the way up to at least Django `django.core.management`, so this must be a bug in `manage.py` , or ... ?

[2017-12-04 04:58] #19 closed

[2017-12-04 07:24] jayvdb commented on #21
django-distill kindly worked around this by catching and exiting.
It is still a bug upstream in Django IMO, but now a lower priority.

[2017-12-04 18:14] andrewda commented on #21
Actually, this might also be an issue with the `.travis.yml`. I moved it to the `after_success` build step in #14, but failures in that step do not cause the entire Travis build to fail. See [docs](https://docs.travis-ci.com/user/customizing-the-build/#Breaking-the-Build).

Let's try moving `python manage.py distill-local` back to the `script` step, but keep the `.ci/deploy.sh` stuff in the `after

[2017-12-04 21:26] #7 closed

[2017-12-05 07:17] ItsPugle opened #24 "Add 'Fork Me On GitHub' ribbons"
Since the Coala Community site is Open Source, I think it'd be a good idea to encourage contributions to it by adding a 'Fork Me On GitHub' ribbon to each page!

The ribbon, which could look something close to [these](https://github.com/blog/273-github-ribbons) would take the viewer to https://github.com/coala/community/fork where they'll be prompted to fork the repository and make changes :) I th

[2017-12-05 07:17] jayvdb commented on #24
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-12-05 07:17] jayvdb commented on #24
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 07:27] jayvdb commented on #24
We should get the views built as templates before doing this one.

[2017-12-05 13:44] LifetimeAlone opened #25 "Progress of solving & creating issues"
Website may include a bar chart widget, which will show the dynamics of solving & creating issues. It will highlight how active the community has been during periods of time.
The X-axis of the chart will be timeline (e.g. last 5 month), and Y-axis - amount of issues solved and created. To be visually intuitive, created & solved issues should be marked with different colors. Also, dates with positi

[2017-12-05 13:45] jayvdb commented on #25
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-05 17:15] Dragneel7 commented on #24
@ItsPugle Is this issue open to work on?

[2017-12-05 19:37] nalinbhardwaj commented on #25
Probably a bit of an opinion, but I feel a line chart may be better for data representation?
Since we are trying to visualise change as well, and that would eliminate the need for a color for dates, making the graph more clearer.

[2017-12-05 22:32] ItsPugle commented on #24
Yep, @Dragneel7! It'd be a good idea to wait for what @jayvdb said :)

[2017-12-06 02:22] jayvdb commented on #24
It is in [status/blocked](https://github.com/coala/community/labels/status%2Fblocked), but if you are a GCI student we have a similar task over at https://codein.withgoogle.com/dashboard/tasks/5422018000322560/

[2017-12-06 02:28] blazeu commented on #24
We have similar blockage as well https://github.com/coala/gci-leaders/issues/21
It's ok if you do it now, but you'll lose git blame ownership.

[2017-12-06 03:15] #10 closed

[2017-12-06 03:49] Dragneel7 commented on #24
I misunderstood the GCI label. I am a university student so I guess I wont be able to work on it.

[2017-12-06 04:43] jayvdb commented on #1
Updated title from favicon.ico to favicon , as other formats are good enough for most browsers

[2017-12-06 04:49] jayvdb commented on #18
I suspect that https://github.com/getorg/getorg will do most of the grunt work for us.

[2017-12-06 04:55] chetanya-shrimali commented on #12
can i take up this issue? @jayvdb

[2017-12-06 05:10] jayvdb commented on #18
Using travis environment variables will work in Travis, but not locally.  bad idea.

We should use `git remote -v` to fetch the remote name (there should be some IGitt functionality for this?), and then use https://github.com/retr0h/git-url-parse to extract the org name

[2017-12-06 05:22] adtac commented on #12
@chetanya-shrimali do you have a proposal solving this? This requires some design and we'd rather you discuss your ideas with us first before implementing them right away.

[2017-12-06 05:28] jayvdb opened #26 "Get the GitHub Org from the git remote info"
Split off from #1

Using travis environment variables will work in Travis, but not locally, or on other build.  bad idea.

We should use `git remote -v` to fetch the remote name (there should be some IGitt functionality for this?), and then use https://github.com/retr0h/git-url-parse to extract the org name.

This functionality belongs in the main application, not in the `gci` app.

[2017-12-06 05:28] jayvdb commented on #26
[GitMate.io](https://gitmate.io) thinks the contributor prediction failed because there are not enough contributors. Three contributors must have authored comments on at least three issues each.

[2017-12-06 05:29] jayvdb commented on #1
I've striken this, and moved it to https://github.com/coala/community/issues/26

[2017-12-06 06:28] jayvdb commented on #3
Some sample data can be found at https://github.com/i5o/gcileaderboard/tree/master/orgs/2016

[2017-12-06 06:29] jayvdb commented on #3
Load the data from there, so we do not keep a copy in our repository, as it is not our data.

[2017-12-06 06:54] jayvdb commented on #5
https://github.com/thombashi/ghscard is very nice also.  A bit more effort required to set this up during the build process, but doable.

[2017-12-06 09:49] abhinavralhan commented on #9
I would like to take this up @jayvdb . Any pointers how to get started ?

[2017-12-06 11:11] abhinavralhan commented on #8
what errors do you have in mind ? @jayvdb

[2017-12-07 17:12] chetanya-shrimali commented on #12
In this we need to create the model first or is it that the model is already there we just have to fetch the data?

[2017-12-07 20:20] jayvdb opened #29 "Remove 'coala' from COMMIT_AUTHOR_EMAIL"
`.travis.yml` currently sets `COMMIT_AUTHOR_EMAIL: "nobody@coala.io"` , but that violates this repositories rule that 'coala' shouldnt be mentioned anywhere.

One approach is to use a generic email address.
Another is to use the git remote info to find the GitHub org (#26), and then derive an email address from the GitHub org.

[2017-12-07 20:20] jayvdb commented on #26
This should be done in way that is re-usable ; e.g. `.travis.yml` currently sets `COMMIT_AUTHOR_EMAIL: "nobody@coala.io"` , but that domain name should also be derived. e.g. #29

[2017-12-08 02:43] #5 closed

[2017-12-08 03:30] andrewda commented on #29
I think the best we can do here w/o making a GitHub API call is to do something like `nobody@{org}.com`, but it might not be the best idea to try and guess the org domain if we're going to be wrong 90% of the time. It's probably better to use something like `ghost@github.com` or `{org}@example.com`.

[2017-12-08 04:06] ashwini0529 opened #31 "Not rendering HTML code"
The student profile section isn't rendering the HTML code.

<img width="417" alt="screen shot 2017-12-08 at 9 36 01 am" src="https://user-images.githubusercontent.com/8419333/33750619-425b4a66-dbfb-11e7-888b-b5cbde232935.png">

[2017-12-08 04:08] andrewda commented on #31
Are there any errors in your console?

[2017-12-08 06:54] blazeu commented on #31
No errors.

![image](https://user-images.githubusercontent.com/1438859/33754525-2c14a0e4-dc1f-11e7-8d26-ff3e5ce21ec1.png)
![image](https://user-images.githubusercontent.com/1438859/33754545-3e4e8234-dc1f-11e7-9b6b-f363cf029790.png)

[2017-12-08 17:53] #1 closed

[2017-12-08 18:35] jayvdb commented on #31
It is all going to be rewritten after #13 .  Ideally the widgets are rendered during the build process.

[2017-12-09 08:13] jayvdb opened #32 "Import coala.io contributors functionality"
https://coala.io/#/getinvolved is part of https://github.com/coala/landing-frontend , and it uses data collated from the webservice provided by https://gitlab.com/coala/landing .

The same backend data should be imported into a data model in this repo, with a similar UI, but UI is not so important.

Note: The data from the webservice is a bit out of date.  Not a problem for this task.

[2017-12-09 08:16] jayvdb opened #33 "Import OpenHub data"
See https://www.openhub.net/orgs/coala/ , and the OpenHub apis.  We need an OpenHub app that collects all of the data they make available for use by this website.

[2017-12-09 16:18] #25 closed

[2017-12-09 16:18] #29 closed

[2017-12-09 18:29] #2 closed

[2017-12-10 03:48] jayvdb commented on #3
Now we have a data model, it is also possible to use https://github.com/gregmuellegger/django-autofixture

[2017-12-10 05:23] jayvdb opened #36 "Move build into a script"

[2017-12-10 14:35] #36 closed

[2017-12-10 15:42] nalinbhardwaj commented on #29
@jayvdb this was closed in PR #27 only partially. Should I make another PR just changing the email to something generic like `CI@travis.com`, or something like @andrewda suggested..

[2017-12-11 13:22] ashwini0529 opened #38 "Proper documention"
A proper documentation with installation guide could help a lot to setup locally and contribute.

[2017-12-11 16:50] dob9601 opened #40 "Organisation Twitter feed"
The twitter feed for the organisation should be fetched and displayed on the Google Code-In community website within a Twitter timeline (obtainable from https://publish.twitter.com/). The Twitter handle for the organisation should be fetched via the Google Code-In api (see https://codein.withgoogle.com/api/program/2017/organization/) and used in conjunction with the embedded timeline obtained from

[2017-12-13 11:31] jayvdb commented on #38
This is changing a lot at the moment.
I've done one largish improvement to the build system, which partially gets the django stuff neatened.
We've just to choose the front-end toolset, which will have a large impact on any documenation.

[2017-12-13 11:36] jayvdb opened #42 "Move logo on the front page"
I broke the logo (https://github.com/coala/community/issues/1) when moving the GCI stuff to `/gci`.
I forgot to move the logo from `/gci` to `/`.

[2017-12-14 08:09] ashwini0529 opened #44 "Restructure and redesign existing website"

[2017-12-14 08:24] jayvdb commented on #12
@chetanya-shrimali , look in the repository for your answers

[2017-12-14 09:54] Monal5031 opened #46 "Update .gitignore for idea files"
Update .gitignore for ignoring the `.idea` dir and `.DS_Store`

[2017-12-14 10:18] jayvdb commented on #46
Also add `/private/` and `static/activity-data.json`

[2017-12-14 14:10] sks444 commented on #32
@jayvdb, One way to do it is to get all the contributor's data into a JSON file and load it into a `Contributor` model by `loaddata` but for this, we need a database and we are not using one here.  So how should we do it another way?

[2017-12-14 15:51] #40 closed

[2017-12-15 04:57] ashwini0529 commented on #32
@sks444 contributors dataset is something that will be updated. So I would suggest to work with some sort of API that could fetch contributors and show them.

[2017-12-15 06:27] sks444 commented on #32
@ashwini0529,

Yes, that is what I was thinking. Thank you :)
BTW, how we are fetching the data in https://github.com/coala/landing-frontend from the backend?

[2017-12-15 08:02] sks444 commented on #32
I am thinking about making an API which scrapes the data from https://coala.io/#/getinvolved and posts it in the Contributor model.

[2017-12-15 08:40] ashwini0529 commented on #32
@sks444 why do you need to store the data?

[2017-12-15 09:38] sks444 commented on #32
@ashwini0529, Because that is what the issue is about, we need to import the data into a data model, we are not showing it here, yet.

[2017-12-15 11:03] sks444 commented on #32
@ashwini0529, Oh, I have got it now. We don't have to do all this, we just have to implement what already has been done in https://gitlab.com/coala/landing/tree/master/backend/org for this repo, as @jayvdb, had said earlier, this task is a 'copy and paste.'
@yashraj-Dhanuka, are you working on it or should I create a PR?

[2017-12-15 15:34] yashraj-Dhanuka commented on #32
@sks444 Actually my exams were going on, so i could not get time on this.
I will work on it today , Thanks for the help bro.

[2017-12-15 18:53] sks444 commented on #12
@jayvdb, @adtac, Once https://github.com/coala/community/issues/32 will be solved, and we will be having all the contributor's data into a data model then we can fetch any of the contributor's data according to our need.

Suppose that we have to make a page for coala maintainers, then we can scrape all the coala maintainer's usernames from https://github.com/orgs/coala/teams/coala-maintainers/memb

[2017-12-15 19:25] ashwini0529 commented on #31
Works good. Closing the issue! 😄

[2017-12-15 19:25] #31 closed

[2017-12-16 12:10] #26 closed

[2017-12-17 00:14] jayvdb commented on #9
I suggest using https://pypi.python.org/pypi/django-modelhandler to put the logging into a model , and then create a simple single page app that displays the data in the db.

[2017-12-17 04:20] seeeturtle commented on #9
thanks @jayvdb? I'll try it :)

[2017-12-17 07:53] jayvdb commented on #32
Not quite.  This repository should not re-create all that data.  It is time consuming.  This repository should fetch that data from the *webservice* provided by http://gitlab.com/coala/landing .

To do this task, you must run http://gitlab.com/coala/landing on your machine to use for testing, populate the data in that app , and then use its webservice (web api on your machine) to populate a new da

[2017-12-17 08:46] ashwini0529 opened #51 "Create a config file to manage organisation details"
We're facing a lot of issues right now because of config files. Creating a config file is required to maintain details like `org_name`, `twitter handle`, `website link` etc that could be used further.

[2017-12-18 04:34] jayvdb commented on #51
Where are you going to put the config file?
it can not go into the repository, otherwise it makes forks un-mergable.

[2017-12-18 04:36] jayvdb commented on #51
Also we already have values for all of those examples you have provided, and some of them are already available in the django layer.
Closing until you have provided a real reason why we need a config file.

[2017-12-18 04:36] #51 closed

[2017-12-18 04:47] jayvdb opened #55 "Create project specific logo"
https://github.com/coala/community/blob/master/docs/_static/images/header.png needs to be removed.

This image was added as a temporary solution for https://github.com/coala/community/issues/10 , as it was a newcomer issue.

This project is a re-usable component that can help any community, so the README should not focus on coala.

It should be replaced with a project specific logo which symbolise

[2017-12-18 04:55] jayvdb opened #56 "GCI: detect pull request authors for issues"
The tasks in the GCI system has links to issues, and the GCI app uses the assignee to link GCI students with the issues they are working on , or have completed.

However many of our sub-orgs do not invite GCI students into their org, and on GitHub that means they can not be an assignee.  They need to be detected using the pull requests.

See https://travis-ci.org/coala/community/builds/317909190#L

[2017-12-18 04:57] jayvdb opened #57 "GCI: Create RSS feed of new tasks"
http://community.coala.io/static/tasks.yaml contains all tasks, sorted by task identifier.

Create an RSS feed of tasks, sorted by `last_modified`

[2017-12-18 05:01] jayvdb commented on #57
Example of our first published list of new tasks https://github.com/coala/community/commit/78c4c92341be8c73679f0180de63b3756fe86199#diff-feb0e78c555f43ae0c7b29fd3d81dbc2

The RSS feed should point to the task URL if available(usually it is a public issue), as well as the GCI task.

[2017-12-18 05:38] jayvdb opened #58 "Add GSOC data model"
GCI has [an API](https://developers.google.com/open-source/gci/api).

There is also a 'program' API for GSOC information at https://summerofcode.withgoogle.com/api/program/ ; the same data is available at https://summerofcode.withgoogle.com/api/program/2017/

That only provides information about the completed 2017 program, which is worth including, as preparation for the 2018 program.

For the 201

[2017-12-18 05:47] jayvdb opened #59 "Import 2017 gsoc org data"
In 2017, coala was [gsoc org 5817061024464896](https://summerofcode.withgoogle.com/archive/2017/organizations/5817061024464896/).

As this repository is generic, the tool must [find the project identifier](https://summerofcode.withgoogle.com/archive/2017/organizations/) using only the `org_name` which is exposed in the `community` app.

Scrape the list of org projects from that page , e.g. [515472

[2017-12-18 05:58] jayvdb opened #60 "Import 2016 gsoc org data"
After https://github.com/coala/community/issues/59 , we need to import gsoc data from 2016.

This is more complicated, as coala was a sub-org of [PSF](https://summerofcode.withgoogle.com/archive/2016/organizations/5597862805110784/).  Doing this generically could be quite difficult.

We could search for projects prefixed with `[org name]: ` .
There are other orgs which used similar naming conventi

[2017-12-18 06:02] jayvdb commented on #59
The extracted data should be cached in the [generated website](https://github.com/coala/community/tree/gh-pages), like the GCI data, with correct timestamps, and only regenerated if the data is missing.

The fact that no data was found also needs to be cached, to avoid running the scraper in every build on non-gsoc orgs.

[2017-12-18 06:24] jayvdb commented on #60
See also https://gitlab.com/coala/GSoC2016/issues/89

[2017-12-18 06:43] jayvdb commented on #59
See also https://gitlab.com/coala/GSoC-2017/

[2017-12-18 07:56] jayvdb commented on #46
Also currently `coala-ci` is emitting `*.orig` files, causing problems.  We should be disabling that in CI (mobanising CI so this doesnt need to be done in every repo), and adding it to `.gitignore`

[2017-12-18 07:59] jayvdb opened #62 "Add pyflakes checking to .coafile"
`.coafile` doesnt invoke the pyflakes checker.
A few problems will need to be fixed as part of this change.

[2017-12-18 10:38] pradeepgangwar commented on #59
@jayvdb Please assign this to me.

[2017-12-19 01:11] jayvdb commented on #57
Note that this task does not require detecting 'new tasks'.  The `tasks.yaml` is already loaded during the Travis CI build; it just needs to be converted to RSS and written to the deploy directory.  If the RSS is correctly written, RSS readers will automatically highlight new items appearing in the feed.

[2017-12-19 03:10] jayvdb commented on #42
Some clues on how to solve this can be found in https://github.com/coala/community/pull/45

[2017-12-20 10:29] jayvdb opened #66 "Add status to issues tasks in tasks.yaml"
When a task has `max_instances: 1` and an issues URL , it can be annotated with an extra attribute to indicate the task status: available, claimed or completed.

Instance are exported as instances.yaml , and indicate whether the task is in progress or completed.

Completed issues are the easiest to work with.

In progress tasks are slightly more complicated because the publish instances are filter

[2017-12-20 13:28] #57 closed

[2017-12-20 14:50] #9 closed

[2017-12-22 20:20] #38 closed

[2017-12-22 20:20] ashwini0529 commented on #38
Closing issue as of now. Will reopen once it gets a shape.

[2017-12-22 20:22] ashwini0529 commented on #24
https://github.com/coala/community/pull/45 would be a good start before this. This introduces templates and restructures site.

[2017-12-22 21:51] nemaniarjun commented on #24
We can consider using http://tholman.com/github-corners/ looks cuter.

[2017-12-24 13:17] k4ni5h commented on #55
can i work on this issue

[2017-12-25 03:06] #42 closed

[2017-12-25 06:23] k4ni5h commented on #60
I would like to work on this issue

[2017-12-28 01:50] Makman2 commented on #60
@k4ni5h this issue is for GCI participants ;)

[2018-01-03 01:40] jayvdb commented on #32
I've closed the PR as it appears to be stalled in the wrong direction.

[2018-01-05 13:45] jayvdb commented on #58
The 2017 data is now disappeared ;-(

https://summerofcode.withgoogle.com/api/program/2018/ now has real data.

[2018-01-10 13:18] pradeepgangwar opened #71 "Use global setting for GCI data directory variable in gci app."
Currently in https://github.com/coala/community/blob/master/gci/config.py#L6 we define GCI_DATA_DIRECTORY locally using python file management system. Since there is global setting to use this specified [here](https://github.com/coala/community/blob/master/community/settings.py#L120). So we want to replace that to use the global setting.

label difficulty/low newcomer

[2018-01-10 14:14] ashwini0529 opened #72 "graphs not loading at http://community.coala.io/activity/"
<img width="1280" alt="screen shot 2018-01-10 at 7 41 13 pm" src="https://user-images.githubusercontent.com/8419333/34776948-98c0d346-f63e-11e7-963d-353baa7fe5ab.png">

[2018-01-14 12:41] ShivamRai2003 commented on #3
hey i want to work on this issue
can you help me what to do

[2018-01-14 13:45] #56 closed

[2018-01-14 15:59] Kagamihime commented on #71
Hello,

I would like to know if the only thing to do would be to use `STATIC_ROOT` at https://github.com/coala/community/blob/master/gci/config.py#L8 ? Or is it about something else?

If so, I would like to be assigned to this issue please.

[2018-01-15 13:39] Dragneel7 commented on #71
Hi, I would like to work on this issue. Can I proceed?

[2018-01-19 12:49] nalinbhardwaj commented on #72
Seems to be an issue with [coala/gh-board](https://github.com/coala/gh-board), [issues.json](https://coala.github.io/gh-board/issues.json) is no longer being fetched. I don't know much about it, but seems related to [this promise rejection](https://travis-ci.org/coala/gh-board/builds/330671707#L3030).
Ping @blazeu.

[2018-01-21 13:19] jayvdb opened #74 "Fetch attachments from approved GCI task instances"
For GCI task which did not have a PR assessment item, the most recent attachment on approved GCI task instances are likely to be the outputs of the task, and should be fetched into the private folder.

The fetcher should not push these private artifacts to the public folder to be published.  This needs to be manually done to ensure those artifacts had correct licensing and were indeed the correct

[2018-01-22 15:11] joaomcarvalho commented on #71
Hi, I would like to help, can I work on this issue?

[2018-01-22 16:57] Makman2 commented on #71
@Dragneel7 sorry for missing you, I've sent an invite, please accept :+1:

@joaomcarvalho I would assign you the other newcomer issue you've been pinging on ;)

[2018-01-26 13:29] vaib10sai commented on #71
Hi, can I get this issue assigned? :)

[2018-02-01 10:09] #58 closed

[2018-02-04 15:53] Ananthavijay commented on #74
Could I work on this Issue..@jayvdb

[2018-02-18 04:29] jayvdb opened #78 "Compare with publiclab 's community-toolbox"
https://github.com/publiclab/community-toolbox has a similar intention as this repo + https://github.com/coala/gh-board .

We should extract feature ideas and put them into the relevant coala project.

[2018-02-18 14:38] #71 closed

[2018-02-19 08:53] Ananthavijay commented on #74
sorry @Makman2  pls unassign me. I cant work on this. I have exams

[2018-02-21 14:04] sks444 commented on #78
Should we import all the issues and PRs available on Github into a data model?

[2018-02-24 10:16] sks444 opened #82 "Import Github issues and its related data to data model"
We can import a list of all [issues](https://developer.github.com/v3/issues/), its [Assignees,](https://developer.github.com/v3/issues/assignees/) its [Comments,](https://developer.github.com/v3/issues/comments/) its [labels,](https://developer.github.com/v3/issues/labels/) its [events,](https://developer.github.com/v3/issues/events/) [milestones,](https://developer.github.com/v3/issues/milestones

[2018-02-24 10:23] sks444 opened #83 "Import GitHub and GitLab mrs data"
When webservices will be up it will provide all the mrs of coala on GitHub and GitLab through an API,
that should be imported here to build the gamification app.

[2018-02-24 10:34] sks444 opened #84 "Import Gitter Developer API data to data model"
We can import data from [Gitter Developer API](https://developer.gitter.im/docs/welcome) which can be useful in creating metrics for [Newcomer metrics and gamification](http://projects.coala.io/#/projects?project=newcomer_metrics_and_gamification&lang=en) project.

[2018-02-24 20:27] himanshu1603 commented on #66
Plese, assign me to this issue. Thanks!

[2018-03-01 06:59] ashwini0529 commented on #84
Hey, I would like to take this up! 😄
Can you please guide me through this?

[2018-03-01 14:05] sks444 commented on #84
As mentioned in the [Newcomer gamification](http://projects.coala.io/#/projects?project=newcomer_metrics_and_gamification&lang=en) project we need to make a record and build metrics for `Newcomer messages`, So, I think we can make use of [Message Resources](https://developer.gitter.im/docs/messages-resource) of Gitter developer API and import its data into a data model for later use. Though I am n

[2018-03-01 21:16] himanshu1603 commented on #66
Plese, explain what is to be done in issue. I couldn't find .client, .config, .gitorg, .task in repo.  Thanks!

[2018-03-03 19:59] sks444 commented on #66
These are the `.py` files in gci app
`from .gitorg import get_issue` means importing `get_issue` function from `gitorg.py`

Now for a task, you have to check what its `max_instances`, if it is `1` then you have to check if it has an issue related to it, if both conditions are satisfied then you have to add an extra attribute to the task as its status, i.e.  available, claimed or completed.
This is

[2018-03-04 16:26] ashwini0529 commented on #72
Still the same :/
@blazeu  @jayvdb

[2018-03-04 16:28] ashwini0529 commented on #72
Activity Data is empty.
http://community.coala.io/static/activity-data.json

[2018-03-04 16:33] wisn commented on #44
Are you still on it?

[2018-03-04 16:44] ashwini0529 commented on #44
No @wisn .

[2018-03-04 18:17] Makman2 commented on #44
Why closing the issue though? ;) I guess it's still valid.

[2018-03-04 21:07] ashwini0529 commented on #44
@wisn you can check my PR though! You'll get an idea.! :)

[2018-03-08 18:21] jayvdb opened #85 "Uncached netlify builds using python 2.7"
[code]
https://app.netlify.com/sites/coala-community/deploys/5aa17d3e92226a6064ec5772

[2018-03-08 19:12] sks444 commented on #85
@jayvdb, Why the build is not running on python3.6.2?

[2018-03-09 05:52] sks444 commented on #85
@jayvdb, I remember the solution in my dream :P
Because I have already seen @Makman2 correcting that error here https://github.com/coala/documentation/blob/master/runtime.txt

Let me do it :)

[2018-03-09 07:00] #85 closed

[2018-03-10 03:06] #62 closed

[2018-03-10 03:35] #32 closed

[2018-03-10 04:55] jayvdb opened #87 "Use generic ListView"
We can make use of the generic ListView to provide a default viewer of datasets that we are importing.

https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views

[2018-03-10 17:16] YoginthS opened #88 "Add me to coala GitHub Org"
Add me to coala GitHub Org, Know about me https://yoginth.ml

[2018-03-10 20:14] jayvdb commented on #88
invited

[2018-03-10 20:14] #88 closed

[2018-03-10 20:25] jayvdb opened #89 "Create a Netlify form for joining the community"
Netlify forms can be used to let people 'become a developer' from their web browser.  It allows signing using GitHub, for authenticated collection of their username to be added to the org.  We could also add a field for the issue they want to be assigned to.

It is then easy for maintainers to invite them to the org after some rudimentary checks, or add a http://webtask.io which automatically invi

[2018-03-10 20:27] jayvdb commented on #89
When testing, ensure the form name is a dummy name, so that the form name can be changed in order to reset the fields which are recognised as part of the form.  This is a problem I've encountered with Netlify forms.  The final form name should be amended into the app just before it is merged.

[2018-03-10 20:31] jayvdb opened #90 ".coafile section generalization includes many inappropriate files"
[code]

They need to be excluded.  Probably others also; see .gitignore.

[2018-03-12 00:37] jayvdb opened #93 ".coafile: New python files are not being checked"
`.coafile` currently relies on explicit inclusion of new apps, which means by default new code isnt checked.

[2018-03-12 00:39] jayvdb opened #94 "db.sqlite3 should not be checked in"
I missed that `db.sqlite3` was committed in the review of data app.

[2018-03-12 00:41] jayvdb opened #95 ".coafile: *.sh isnt matching any files"
It should be `**.sh`

[2018-03-12 00:41] sks444 commented on #94
Yeah, I was thinking of it too!

[2018-03-12 03:14] sks444 opened #97 "Add [commit] section in .coafile"
see `.coafile` file of coala/coala or coala/coala-bears for more

[2018-03-12 03:17] jayvdb commented on #97
Also see `.travis.yml` in `coala/coala`

[2018-03-12 21:06] sks444 commented on #87
https://gitter.im/coala/community?at=5aa35d5c53c1dbb743c52b85
Just for more understanding of the issue.

[2018-03-12 23:33] sks444 commented on #87
https://github.com/jieter/django-tables2
Is it good for this?

[2018-03-13 00:56] #94 closed

[2018-03-13 01:00] #93 closed

[2018-03-13 18:01] sks444 opened #99 "Move code out of command *.py for data app"
see https://gitter.im/coala/community?at=5aa77a346f8b4b99461eb4d9
also, directly call the `get_owner()` function instead of assigning it to `org_name` variable at the module level. see https://github.com/coala/community/pull/77#discussion_r173658576
But this should be done after https://github.com/coala/community/pull/77 is merged; since we will be having caching for `get_owner()` function.

[2018-03-13 22:27] sks444 opened #101 "Import data into GSoC data model"
As our GSoC data model is ready; It would be a good idea to import some data into it and have it printed on a html page.
Data to be imported for now: [GSoC'18 json data](https://summerofcode.withgoogle.com/api/program/2018/) and this [ical](http://www.google.com/calendar/ical/gsummerofcode%40gmail.com/public/basic.ics) data.

[2018-03-13 23:18] sks444 opened #102 "Import all the data from Github API for repo"
I think we should also have a `repo` app(as we will be having `[issue](https://github.com/coala/community/issues/83)`  and `[pullrequest](https://github.com/coala/community/issues/83)` app) which collects all the data Github API provides for a repo see https://developer.github.com/v3/repos/
We could do some awesome things with these data in future and also might be helpful to do analysis in [Newco

[2018-03-13 23:21] sks444 commented on #102
Please assign it to me if possible as I am working on similar issues https://github.com/coala/community/issues/83 and https://github.com/coala/community/issues/82 , this will avoid any conflict.

[2018-03-13 23:26] sks444 commented on #102
And I will try to get this one merged first as we will be using the `repo` model in `issue` and `pullrequest` model.

[2018-03-15 07:48] anctartica commented on #97
please assign this to me

[2018-03-17 04:12] li-boxuan commented on #95
I would like to work on this.

[2018-03-17 04:47] jayvdb opened #104 "Building on forks fails"
Development is much slower when people cant do a build on their forks.

[2018-03-17 12:01] jayvdb opened #108 "Webservices data errors"
[code]

[2018-03-17 12:45] sks444 commented on #108
[code]
This is because some of the contributors don't have name

[2018-03-17 12:48] jayvdb commented on #108
yup; needs fixing.

[2018-03-17 12:52] sks444 commented on #108
We can show their `login` then

[2018-03-17 13:04] jayvdb commented on #108
We should only be using `logging`, and successful imports would be 'debug' level, or not logged at all.

[2018-03-17 16:07] #108 closed

[2018-03-18 02:58] #95 closed

[2018-03-18 04:20] jayvdb opened #111 "Add npm caching to Travis"

[2018-03-18 05:28] jayvdb commented on #82
Which repos?  We still need to build the definition of the 'org'.

IGitt doesnt have a generic ability to get the list of coala repos.  I raised a bug about this recently.  So that should get fixed first.

We will soon have OpenHub data, which gives us an org, with projects, with a project containing multiple repos.   Most of the OpenHub projects have only one repo, but the 'coala' project has a l

[2018-03-18 05:30] jayvdb commented on #84
Capturing very high level info about Gitter may be suitable for this repo, however it would be more sensible to add textual analysis of the messages to https://gitlab.com/coala/landing , and import the final analysis only.

[2018-03-18 14:01] #104 closed

[2018-03-18 15:25] #33 closed

[2018-03-21 04:15] jayvdb commented on #78
This issue is about documenting publiclab 's community-toolbox.  Analysis before design.  Design before coding.

[2018-03-21 04:35] jayvdb opened #113 "Build org schema"
The 'org' is either a incorporated entity, or an unincorporated entity, depending on the type of org, and should only have properties related to that.  So far we only have 'org' name.

A lot of the other apps have a concept of an org which is only a small facet of the 'org', based on their limited data and scope.  e.g. GCI and GSOC and OpenHub and any attempt at modelling GitHub/GitLab directly or

[2018-03-21 04:36] jayvdb commented on #102
Some very high level design at https://github.com/coala/community/issues/113

[2018-03-21 11:27] blazeu commented on #89
What kind of automated checks we can use to prevent abuse?

[2018-03-27 06:24] sks444 commented on #113
IMO, it should be one to many; from a repo to projects because one repository can have many projects, right?

[2018-03-27 07:19] sks444 commented on #113
Regarding details about `PyPi packages`: I am thinking of creating an app name `pypi` and model `pypi` into it. and then we can get the name of all the PyPI packages from here https://wiki.python.org/moin/PyPISimple, and then we can get all the other details related to a package using https://wiki.python.org/moin/PyPIJSON
Or maybe we can have an app name `products` and model `pypi` into it?
@jayvd

[2018-03-28 09:36] sks444 opened #114 "Import pypi packages"
Create an app name `products` and import the list https://pypi.python.org/simple/ of available PyPI packages, and its related details like releases, author, download links, see https://pypi.python.org/simple/abstrackr/, https://pypi.python.org/pypi/abstrackr/json

priority/very low

[2018-04-01 13:58] Makman2 commented on #114
What do you need all package information for?

[2018-04-01 13:59] Makman2 commented on #114
Especially this is quite much info, requires some disk space/RAM^^

[2018-04-01 14:44] sks444 commented on #114
Yup; this is silly. Actually, I was thinking about the [org schema](https://github.com/coala/community/issues/113), so I thought it might be good to have some details about PyPi packages and its releases, but yeah that's a lot of data. So, the plan is to only get the packages of a particular org, the org who loads this app. i.e: in our case, we will get all the details of `coala`  PyPi products. B

[2018-04-02 12:30] Makman2 commented on #114
Is there maybe other API we can use from PyPI to query for this information? Something like "search-by-package-name" or so?

About doing that for a specific org: You can probably look where our publishing accounts appear, maybe "Package Index Owner" or so.

[2018-04-06 15:09] sks444 opened #116 "Fix openhub models str method"
In MostCommit model str method return `ptoject1` which should be `project`, a similar case in MostRecentCommit model.

difficulty/low
importance/high
ref: https://github.com/coala/community/pull/115#discussion_r179776703

[2018-04-06 15:26] sks444 opened #117 "Add HTMLLintBear to `.coafile`"
ref: https://github.com/coala/community/pull/115#discussion_r179777613

[2018-04-07 06:05] sks444 opened #118 "travis is broken on master branch of the fork"
seems to be some problem in gci/feeds.py file
ref: https://travis-ci.org/sks444/community/jobs/355116254#L851 and https://travis-ci.org/sks444/community/jobs/355116254#L684

importance/high

[2018-04-07 08:33] jayvdb commented on #118
"some problem"

Include the backtrace, and/or other relevant parts of the travis log.  The travis log could disappear tomorrow.  We need our issues to be informative

[2018-04-07 08:50] sks444 commented on #118
sorry for the less explanation.
here is the relevant travis log:

problem in importing LatestTasksFeed from gci/feeds.py
[code]
And here is the failure of logs of gci/feeds.py:
[code]

[2018-04-07 10:39] jayvdb commented on #118
So the problem is in IGitt; something to do with the access tokens.

We are using master of IGitt, so possibly some upstream change has caused the problem??

[2018-04-08 09:34] #118 closed

[2018-04-11 18:36] RaiVaibhav opened #126 "InvalidLinkBear: Broken Link during running coala"
Change `http` to `https` in `gci/gciorg.py` on line 63 and 65

[code]

difficulty/newcomer
importance/high

[2018-04-11 19:08] RaiVaibhav commented on #126
soory for disturbance it's our college server which needs `https` service.

[2018-04-11 19:08] #126 closed

[2018-04-12 07:12] #116 closed

[2018-04-15 11:50] #117 closed

[2018-04-18 04:59] sks444 opened #127 "Add db.sqlite3 to .gitignore"
There is `.sqlite3` in the `.gitignore` but that is not ignoring `db.sqlite3`.
Change it to `db.sqlite3`.

difficulty/newcomer

[2018-04-19 03:09] jayvdb opened #129 "Add jinja bear to .coafiles"
The templates are in jinja format.
We have a bear for those.

[2018-04-19 08:02] #87 closed

[2018-05-04 06:34] jayvdb opened #131 "Deploy broken"
https://github.com/coala/community/pull/107 broke the deploy process.

[2018-05-04 06:35] jayvdb commented on #131
https://coala-community.netlify.com is a suitable substitute for the moment.

[2018-05-17 04:59] #99 closed

[2018-05-19 17:16] RaiVaibhav commented on #127
I think instead of changing it to `db.sqlite3` in `.gitignore` it have to besomething like `*.sqlite3` as currently it is considering `.sqlite3` as a file

[2018-05-21 03:40] li-boxuan opened #132 "Move fetch_deployed_data out of gci app"
https://github.com/coala/community/blob/e9d74a1b5ca293683b6cbe1f71757a03a52a57ac/gci/management/commands/fetch_deployed_data.py is reusable. It should not be in the gci app directory.

[2018-05-21 14:19] li-boxuan opened #133 "Set up meta_review app"
Create meta_review app, complete template, and models.

This is part of GSoC'18 project meta-review.

See more about the proposed meta-review system: https://github.com/coala/cEPs/blob/master/cEP-0019.md

[2018-05-21 14:20] li-boxuan commented on #133
Please assign this issue to me. ;)

[2018-05-21 15:49] andrewda opened #135 "Fix GitHub cards"
http://community.coala.io/gci/

https://github.com/coala/community/blob/ee91c88fc8f88d17bbe049fa4077618d0be737d4/gci/views.py#L84

Should be: `//cdn.jsdelivr.net/gh/lepture/github-cards@latest/jsdelivr/widget.js`

[2018-05-23 06:01] sks444 opened #136 "Setup gamification app"
For the Newcomer metrics and Gamification project, we need an app name `gamification` with models `User`,  `Activity`, `Level`, and `Badge` with their required methods.

[2018-05-25 06:31] jayvdb commented on #89
Some ideas..

We could automatically accept people who have extensive existing merged contributions to repositories with 'lots' of stars.

Abuse usually comes from accounts with empty profiles.

We could reject recently created github accounts , instead telling them to rectify the situation in a few ways:
1. do one of the github training exercises which involve published commits on github, or
2. p

[2018-05-25 17:19] sks444 commented on #84
We should have an app name `gitter` and the messages by newcomers(which will be available after the merge of [this pr](https://gitlab.com/coala/landing/merge_requests/45)) should be imported in two models `Question` and `Answer` after the analysis done NLP.

[2018-05-27 02:36] sks444 opened #137 "Add teams to Contributor model"
After https://gitlab.com/coala/landing/merge_requests/46 is merged, we need to add the `teams` field to our Contributor model.

[2018-06-02 10:45] sks444 opened #139 "Add image url field to contributors model"
For designing something like https://coala.io/#/getinvolved we also need to have an image url field which could store the links of each of the images of users github profile.

An images link to a GitHub profile would be something like: https://avatars.githubusercontent.com/<username>

[2018-06-02 10:47] sks444 opened #140 "Design contributors page with bootstrap cards"
It would be good to design the contributors page http://coala-community.netlify.com/contributors/ with bootstrap cards https://www.w3schools.com/bootstrap4/bootstrap_cards.asp

[2018-06-03 12:44] li-boxuan opened #142 "Implement meta review scoring & ranking system"
Data needs to be fetched from https://coala.github.io/gh-board/issues.json processed and stored in the database.

Reaction data needs to be analyzed for scoring and ranking.

This is part of GSoC'18 project meta-review.

See more about the proposed meta-review system: https://github.com/coala/cEPs/blob/master/cEP-0019.md

Please assign this issue to me. ;)

[2018-06-05 15:36] #133 closed

[2018-06-10 02:57] jayvdb commented on #131
I believe this is because of the duplicated `env:` key.

[2018-06-10 08:11] jayvdb commented on #132
Im not sure why, but it doesnt like being in the `community` app.

Maybe it looks in `INSTALLED_APPS`.
It isnt worth creating a new app for these generic commands, so I propose it be moved into the data app.

[2018-06-10 08:27] li-boxuan commented on #132
I also tried that and it didn't work ;)

Looks good to me.

[2018-06-11 10:57] sks444 opened #148 "Create tests for data app"
`data` app is the smallest one, should be easy to set up our first tests with it.

[2018-06-12 09:10] sks444 opened #150 "Create tests for openhub app"

[2018-06-12 09:20] #148 closed

[2018-06-12 13:59] #127 closed

[2018-06-13 05:53] sks444 opened #151 "Affiliated Committers and Outside Projects are not being saved."
see: http://coala-community.netlify.com/model/openhub/affiliated_committers/ and http://coala-community.netlify.com/model/openhub/outside_projects/

**Error from the log**:
[code]

[2018-06-13 09:46] sks444 commented on #151
The error is occurring in the file `openhub/data.py`, sometimes while fetching `affiliator` data is returning a dict.
E.g.
[code]
But the expected behaviour is it should return a list like the previous cases.
[code]
This is the reason we are getting this error `can only concatenate list (not "dict") to list`.

A similar case is happening with outside projects.

[2018-06-21 00:01] jayvdb opened #154 "webservices is down and breaking everything"
The community website shouldnt fail if the webservices component is dead.

We should take advantage of it being down to fix our code so that it doesnt bring down the entire system.

[2018-06-21 04:30] sks444 commented on #154
This is happening because of [tests for `import_contributors_data`](https://github.com/coala/community/blob/5d97537bf2aa2e7914a804c15080a4ed2fa500c1/data/tests/test_management_commands.py#L15) management command;

Maybe we can think of other ways of testing management commands.

[2018-06-21 10:30] sks444 commented on #154
Or maybe figure out a way to save the old data somewhere and fetch the data from there whenever the webservices goes down next time.

[2018-06-21 11:10] jayvdb commented on #154
first check if the real data from webservices has 0 records.
If it does, something went wrong and all tests of the real data should be skipped

[2018-06-21 18:31] #154 closed

[2018-06-22 02:21] #132 closed

[2018-06-23 06:07] li-boxuan opened #156 "Sync gitignore list"
See update on https://gitlab.com/coala/mobans/commit/b2d62db0e7bd8879843879974f2168cc3600bfa2

Need to sync gitignore list

[2018-06-28 06:35] andrewda opened #159 "Fail peacefully when issue cannot be loaded"
Currently throwing an error like this when the issue or project is deleted:

[code]

We should still warn that the issue could not be loaded, but not cause builds to fail because of it.

[2018-06-28 09:36] #156 closed

[2018-06-28 13:00] jayvdb commented on #151
@sks444 , why is it returning a `dict` sometimes and `list` other times?

This cant be random -- there must be some reason and it might be important.

[2018-06-28 13:06] sks444 commented on #151
I found a pattern while looking at both the cases, explained at https://github.com/coala/community/pull/152#issuecomment-401027213

[2018-07-01 10:32] #135 closed

[2018-07-07 13:29] li-boxuan opened #161 "Sync gitignore list"
See https://travis-ci.org/coala/community/jobs/401176906#L496
moban check failed.

[2018-07-07 17:51] sarthakchakerverty commented on #83
@sks444 shrikrish issues with your commit message.
You could consider going through the down mentioned link about writing commits.
https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html

[2018-07-12 14:18] #161 closed

[2018-07-17 10:11] virresh opened #163 "Add PyPluralNamingBear"
For ensuring plural names for variables that represent more than one items

[2018-07-19 05:39] #163 closed

[2018-07-19 11:42] MacBox7 opened #165 "gitorg.py: Unused variable"
Pyflakes error report =>
[code]
difficulty/newcomer

[2018-07-19 17:05] sks444 opened #167 "import_contributors_data is failing"
[code]
The error is happenning while executing [get_contrib_data](https://github.com/coala/community/blob/master/data/contrib_data.py#L9) method; `requests.get` method in the [line 14](https://github.com/coala/community/blob/master/data/contrib_data.py#L14) is not returning any response, that's why the except statement is giving following error and returning `None` and we are getting `TypeError: '

[2018-07-21 07:41] Pawank221 commented on #165
please assign me this issue.

[2018-07-21 07:42] MacBox7 commented on #165
Comment of `coala` group on gitter for assignment.

[2018-07-21 08:51] Pranav1999 commented on #165
Assign me this issue

[2018-07-28 14:42] jayvdb opened #171 "Create netlify.toml"
Currently netlify build command is `URL="http://community.coala.io/" .ci/build.sh` and it publishes `public`

[2018-07-28 15:17] jayvdb commented on #171
ugh ... we cant just put that into netlify.toml ... it wont work for forks.

We need to remove the `URL=..` :/

[2018-07-28 15:34] jayvdb opened #172 ".travis.yml: Disabe AUTH=true job for PRs"
Travis PR builds do not get tokens, so we have effectively two identical jobs running for PRs.

We do want two jobs running for builds on forks, and for master builds.

See coala core .travis.yml for how to disable jobs on PRs

[2018-07-28 18:58] #167 closed

[2018-07-29 03:51] #142 closed

[2018-07-29 04:12] li-boxuan opened #173 "Analyze and improve meta-review system algorithm"
https://github.com/coala/community/pull/143 provides a blueprint for future enhancement. It is now using a very naive iterative algorithm to calculate scores.

See ranking list http://community.coala.io/meta-review/

See discussion around algorithm: https://gitter.im/coala/community?at=5b5d391c3cc39566072cb6f8 and discussions following that.

[2018-07-29 11:37] #137 closed

[2018-08-02 04:58] #83 closed

[2018-08-04 14:32] #165 closed

[2018-08-06 14:05] jayvdb opened #175 "Reach 100% test coverage"
This will take a while, but we can break it up into smaller achievable sub-tasks.

[2018-08-08 10:58] sks444 opened #176 "Get 100% coverage for the data app"
Related to https://github.com/coala/community/issues/175

[2018-08-09 15:44] #176 closed

[2018-08-11 12:09] jayvdb commented on #136
Done in https://github.com/coala/community/pull/160

[2018-08-11 12:09] #136 closed

[2018-08-11 13:16] jayvdb opened #181 "Add meta-review to Gamification app"
We have both meta-review and gamification.

And the rules for 'Developer' just changed to require use of meta-review, so that needs to be added to gamification

https://github.com/coala/coala/commit/42a3ffac059f279cd65c9539b8e44bf222782773

[2018-08-15 19:52] shikharvaish28 commented on #181
![](https://github.trello.services/images/mini-trello-icon.png) [coala/community](https://trello.com/c/r0ehK2b0/2-coala-community)

[2018-08-16 20:11] sks444 commented on #181
@li-boxuan, which field in the [`participant model`](https://github.com/coala/community/blob/master/meta_review/models.py#L4) would tell us if the participant has done a meta-review or not?

[2018-08-17 00:37] li-boxuan commented on #181
If user has done a meta-review: https://github.com/coala/community/blob/master/meta_review/models.py#L23
and https://github.com/coala/community/blob/master/meta_review/models.py#L32

If user has received a meta-review:
https://github.com/coala/community/blob/master/meta_review/models.py#L17
and https://github.com/coala/community/blob/master/meta_review/models.py#L26

[2018-08-17 03:44] sks444 opened #182 "Add support for Django 2.x"
We were initially using Django 2.x but at that time django-distill [doesn't has the support for the same](https://github.com/coala/community/issues/19), so we [downgraded to a lesser version](https://github.com/coala/community/pull/20). But as replied at [this](https://github.com/mgrp/django-distill/issues/7#issuecomment-348868904) issue they have fixed the problem. So, I think we could update thi

[2018-08-17 04:09] sks444 commented on #182
Travis Error when using Django 2.x:
[code]
I think the changes needed to support Django 2.x is to add `on_delete` parameter to model fields when using `ForeignKey` and `OneToOne` Fields.

[2018-08-20 20:00] shikharvaish28 commented on #181
What all needs to be added from the meta-review app?
Example:
From [Participant Model](https://github.com/coala/community/blob/master/meta_review/models.py#L4), do I have to import and display fields like ```neg_in``` and ```pos_in``` ( meta-view received) and similarly for meta-review done. @sks444 @jayvdb

[2018-08-20 23:04] jayvdb opened #184 "Make .ci/build.sh re-runnable"
`.ci/build.sh` contains commands like `mkdir private _site public`, which assume a clean repository.

It should be enhanced to expect to be re-run after a partial or compete build is finished.

[2018-08-21 06:55] jayvdb opened #185 "Error message when gh-board does not exist is confusing"
See https://gitter.im/coala/community?at=5b7baa45d8d36815e56a0c8a

[2018-09-01 13:07] #184 closed

[2018-09-02 15:38] shikharvaish28 opened #187 "typo: Correct the spelling of 'participants'"
In https://github.com/coala/community/blob/master/gamification/process/update.py there is a typo.

The spelling of ```participants```  is written as ```particiapnts``` which needs to be corrected.
This would be a good newcomer issue

[2018-09-04 18:13] shikharvaish28 commented on #181
Wrote this piece in ```gamification/data/config.py```

[code]

Expected this to work but receiving the following traceback:

[code]
Can't figure out why is this so. It would be great if @li-boxuan can have a look and suggest anything.

[2018-09-05 05:00] li-boxuan commented on #181
Do you understand the logic of counting Badge Activity?

[code]

This part doesn't make sense to me.

@shikharvaish28
If you are still having trouble debugging, you could create a pull request anyway. In that case reviewers can see all your code and the result of CI.

[2018-09-05 11:45] sks444 opened #189 "Netlify is failing on master"
Netlify is failing on master maybe because of deploys of too many pages, it is not confirmed as it doesn't give any specific error. It has also been proven in [this pr](https://github.com/coala/community/pull/152) that when we remove the deploy of some pages Netlify passes.

The plan is to move the `openhub` and `model` apps from the community repo to a new Django app and then install and use that

[2018-09-10 01:56] jayvdb opened #191 "Use upstream gci/client.py"
I've put the latest code in https://gitlab.com/GoogleCodeIn/api

[2018-09-10 07:17] sks444 commented on #181
@shikharvaish28, the criteria to complete meta-review is to `do at least one meta-review or receive at least one meta-review`.

1) The fields to state that the meta-review has been done by the user are `pos_out` and `neg_out`
2) And the fields to state that the meta-review has been received by the user are `pos_in` and `neg_in`.

So what you have to do is to get an activity named `Completed meta-r

[2018-09-13 14:48] shikharvaish28 opened #192 "Correct the typo"
In ```gamification/process/activity_points.py```, spelling of ```tuple``` is written as ```touple```.

This can be a good new-comer issue.

[2018-09-14 09:12] shikharvaish28 commented on #192
@Tusharmalik It is a bad practice to open a PR of an issue without being assigned to it. To get yourself assigned for a particular issue please ask for it on our [gitter channel ](https://gitter.im/coala/coala).

Also, please go through our [developers guide](api.coala.io/en/latest/Developers/Newcomers_Guide.html)

[2018-09-14 20:31] Tusharmalik commented on #192
@Shikhar Vaish I am sorry for acting so unprofessionally. I will definitely
go through developers guide
<http://api.coala.io/en/latest/Developers/Newcomers_Guide.html> once and
will ask on gitter channel <https://gitter.im/coala/coala> for the task to
be assigned to me before opening the PR in the near future. Can you please
guide me what you want me to do with the PR that I have already opened(do

[2018-09-15 01:53] shikharvaish28 commented on #192
No, don't close the PR. Just ask on the gutter channel for this task to be assigned to you. Once it's assigned to you, mention about the PR and ask for it to be reviewed.

[2018-09-18 15:08] shikharvaish28 opened #194 "Add *.orig to gitignore"
At present, ```.orig``` is not ignored therefore we need to add this to ```gitignore``` so that all files of these types are not included in commits.

Would be a good newcomer issue.

[2018-09-19 05:27] li-boxuan commented on #194
This issue has been discussed in coala-bears repo
c.f. https://github.com/coala/coala-bears/issues/2510#issuecomment-396096183
The ideal solution is https://gitlab.com/coala/mobans/issues/1

[2018-09-19 11:58] jayvdb commented on #159
Why is it failing on https://gitlab.com/gitmate/open-source/gitmate-2-frontend/issues/73 ?

[2018-09-19 16:58] ishucr7 commented on #185
Hi @jayvdb . I looked into the issue and noticed that the error is due to the code in the [file](https://github.com/coala/community/blob/master/data/management/commands/fetch_deployed_data.py)
.It tries to fetch the file from first the deployed_url , if we don't have gh-board deployed, then it tries to fetch from upstream_deployed url.
But here we don't have the condition where we handle the case

[2018-09-20 00:12] jayvdb commented on #185
But the file always exists on coala's gh-board , so it should fail on direct forks of the coala's org repo.

[2018-09-20 03:01] li-boxuan commented on #185
@ishucr7 The logic you may want to change is this function: https://github.com/coala/community/blob/master/community/git.py#L179

The file does exist on upstream org, but in a different repo. Check out this function https://github.com/coala/community/blob/master/community/git.py#L158 where we can specify the repo. Maybe you want to do something similar with `get_upstream_deploy_url`

[2018-09-20 19:11] shikharvaish28 opened #195 "Correct the number of badges present in gamification"
In ```gamification/tests/test_management_commands.py```, the number of badges in the comments are written as ```8```. This needs to replaced with the correct number of badges present.

This would be a good newcomer issue.

[2018-09-21 03:28] ishucr7 commented on #185
Oh I see. I tried as you said by passing the repo's name as an argument and it worked. I'll add the PR soon.

[2018-09-25 04:07] alirizwi commented on #195
I want to work on this issue.

[2018-09-25 07:48] shikharvaish28 commented on #195
@alirizwi You should not work or create a PR until it has been assigned to you. Please go to [Newcomers guide](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html) since it has all the things you need to know before getting started.

In order to get yourself assigned this particular issue, visit our [gitter channel](https://gitter.im/coala/coala) and ask the issue to assigned to you.

[2018-09-28 07:43] #185 closed

[2018-10-11 12:51] #187 closed

[2018-10-11 17:09] li-boxuan opened #200 ".coafile: Add GitCommitBear"

[2018-10-12 11:57] #182 closed

[2018-10-13 08:27] jayvdb opened #201 "OpenHub without token generates empty page"
If no OH_TOKEN was given during the build, the openhub/ page will be empty.

The `openhub/` page should explain how to enable the app, or the top level index page could be dynamic and place the `openhub/` link in a 'Disabled section' with a note about using tokens.

[2018-10-15 00:51] jayvdb opened #204 "GCI: GitLab subgroups not supported"
The issue lookup functionality fails when the issue is in a subgroup.

[2018-10-15 10:15] jayvdb opened #207 "django command logging levels"
Django command interface has the following CLI arg

[code]

It doesnt connect with the logging levels used by the commands, so the commands dont show extra information.

[2018-10-16 07:42] #204 closed

[2018-10-16 13:16] bhawesh96 commented on #201
I tried to reproduce the issue and went through the related to code.
Will it be a feasible fix if I call ```CurrentUserStore.fetchUser()``` upon clicking 'Save'. If returns ```info```, then allow Save, else, show error message in the login dialog itself?

[2018-10-18 00:52] jayvdb opened #212 "Create django command to extract non-issue tasks as a separate yaml file"
http://community.coala.io/static/tasks.yaml contains all tasks from 2017 which were published.

They can be pulled into the django system using django command `fetch_gci_task_data` .  .ci/build.sh puts them into `_site`.

Create a django command which loads all the tasks, and filters out any of the tasks which have an `external_url` which is an issue, and creates a new yaml file of the filtered li

[2018-10-18 09:32] jayvdb opened #213 "Create GCI issue task tools"
This is already ongoing at https://github.com/coala/community/pull/206

It is a carry-over from 2017 GCI, where the tool was a hacky solution not shared.

It originally was all in one big messy .py file.

The task configuration needs to be a separate yaml file, and that yaml file needs to be publishable, so even GCI students can contribute to it.

However the coala config cant be stored in this re

[2018-10-20 14:14] #213 closed

[2018-10-21 13:47] bkhanale commented on #66
Can I solve this issue? @jayvdb

[2018-10-29 04:58] #8 closed

[2018-10-29 06:17] andrewda opened #216 "Logo on GCI page cannot be found"
![image](https://user-images.githubusercontent.com/10191084/47632298-bd7a5d80-db06-11e8-97f7-0afcc8815f55.png)

https://github.com/coala/community/blob/940ee1ddc405b1bb3868f993bcfe7c23cefabb62/gci/views.py#L53

We should probably use `../static/org_logo.png` instead. Using this is better than `/static/org_logo.png` in the off-chance that another organization wants to host the site at `https://orgw

[2018-10-29 16:42] Fenn-CS commented on #175
Hello @jayvdb I see you have replaced Django test engine with `pytest` in your fork is this merged in the main repo?
This is so, I can start using the pytest structure you have implemented to start getting coverage up.

[2018-10-29 16:43] Fenn-CS commented on #150
@sks444  are you still working on this? @jayvdb  can I pick this up?

[2018-10-29 18:31] jayvdb commented on #150
@Fenn-CS , ya, we have tests, and this is 99% finished, but there are problems ... and we've failed many times to figure them out.  Today we disabled the OpenHub app, until we have more time to work them out.

If you are interested in OpenHub, and know a bit of Node, I could assign https://github.com/coala/gci-leaders/issues/166 to you.  I was about to schedule it to be given to GCI students, but

[2018-10-29 18:41] jayvdb commented on #171
@sks444 , did you get Netlify builds working on your fork ?

I suspect it doesnt work due to `get_remote_url`

[code]

One approach for that would be to use the forks `REPOSITORY_URL` and replace username -> org, but at that stage the code is still trying to find the org name.  Funny problem to have.  We could have a env var override for ORG_NAME.  That would be a workaround for a few problems.

[2018-10-29 19:47] Fenn-CS commented on #150
@jayvdb I see you have assigned this to @sks444  is that is a mistake? If not then you can assign it to me. Would work on it.

[2018-10-30 00:48] jayvdb commented on #150
@Fenn-CS , it is no mistake.  He has been working on this for a very long problem, and it is a hard problem.

Please read my comment again, and reply regarding coala/gci-leaders#166

[2018-10-30 23:01] Fenn-CS commented on #150
@jayvdb ok then I have some knowledge of Node! You can assign that to me. Meanwhile I have worked with tests for a while in pytest and django @sks444 can document the challenges that are faced and tag me to so we debug together.

[2018-10-31 02:05] jayvdb commented on #150
@Fenn-CS , you are now assigned to https://github.com/coala/gci-leaders/issues/166 .  No more comments on this issue please.

[2018-11-01 13:19] jakethakur commented on #129
I might have a look at this. By templates, do you mean everything in the /templates folder? Or just /model/templates?

[2018-11-01 17:38] sks444 commented on #129
@jakethakur, everything in the templates folder.

[2018-11-03 00:37] #201 closed

[2018-11-11 03:54] jayvdb commented on #129
This issue reserved for Google Code-in task [5256108693258240](https://codein.withgoogle.com/dashboard/tasks/5256108693258240).

[2018-11-11 07:31] paras112 commented on #207
@jayvdb Hello ,can you give me some more information about this command , like what happen in backend  when this command run and also tell me about the file where its code is written so that i can fix it as soon as possible.

[2018-11-13 07:09] bhawesh96 commented on #111
Hi,
Can I take up this issue?

[2018-11-13 10:05] KVGarg commented on #191
Hi @jayvdb , can you please explain what has to be done in this issue ? Just have to replace the [new code](
https://gitlab.com/GoogleCodeIn/api/blob/master/client.py) with the [existing](
https://github.com/coala/community/blob/master/gci/client.py) one or have to make some new additions also ?

[2018-11-13 10:27] jayvdb opened #223 "Raise minimum Python version to 3.6"
While coala needs to be available to a wide array of platforms, the community website is designed to be run on CI.

We should take advantage of newer features of Python.

manage.py should emit an error if the version of Python < 3.6

[2018-11-13 18:34] bhawesh96 commented on #171
I too was unable to deploy on netlify from my fork. Build failed with the following error -
[code]

[2018-11-13 18:37] bhawesh96 commented on #223
Please assign this issue to me. I plan to fix it by using `sys.version_info[0]` in manage.py

[2018-11-14 05:10] PandaBoi commented on #194
If this issue is open can I be assigned to it?

[2018-11-14 07:36] jayvdb commented on #191
https://gitlab.com/GoogleCodeIn/api needs to become an installable package.  Then we can use it

[2018-11-14 09:32] KVGarg commented on #191
So, to create an installable package it has to be first registered with PyPi, right ?
If yes, is [this](http://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/quickstart.html) the correct guide to create an installable package ?

[2018-11-18 08:40] KVGarg commented on #4
Hey @jayvdb , have you solved this issue ? If not, I would like to work on this issue.

[2018-11-18 09:02] KVGarg commented on #46
Hey @jayvdb, I would like to upon this issue. Can I?

[2018-11-19 01:36] li-boxuan commented on #192
Unassigned due to inactivity.

[2018-11-19 15:31] raghav9-97 commented on #192
I want to take this up.Please assign me to this task.

[2018-11-21 18:56] sanchit48 commented on #192
I would like to get assigned to this issue. plz do

[2018-11-24 10:46] orrimoch commented on #192
Hi!
I'm new into this.
I'd like to know is there an 'newcomer' issue I can assign to?
Please it's my first time here,
Thanks,
Or

[2018-11-24 11:35] kx-chen commented on #192
@orrimoch Check out the newcomers guide: coala.io/newcomer. There are newcomer issues here: https://coala.io/new.

[2018-11-25 07:21] sanchit48 commented on #192
Hi, i am working on this issue, once i get an invite, i will get it assigned and make a PR.
I already asked for the invite and to get this assigned on the gitter channel.

[2018-11-26 09:01] li-boxuan opened #226 "Travis is failing on master due to andrewda/trav"
Travis has been failing on master for days, the latest failure is: https://travis-ci.org/coala/community/builds/459360893

Running `.ci/build.sh` locally leads to the same error:
[code]
which is not a very useful message (see https://github.com/mgrp/django-distill/issues/10 also)

I used `git bisect` and found out the first problematic commit was https://github.com/coala/community/pull/30/commits/

[2018-11-26 09:02] kx-chen commented on #226
The most recent change to `trav` that could have caused this is likely my commit: https://github.com/andrewda/trav/commit/ce805d12d3d1db0a51b1aa26bba9cd9ecc0d96b8. Will look into it.

[2018-11-26 09:21] kx-chen commented on #226
The issue is in `views.py` in `get_context_data` .

With the update to trav, I unintentionally made it so that  `Travis.BUILD_WEB_URL` would have to be called with `TRAVIS.TRAVIS_BUILD_WEB_URL`, as that is the full environment variable name.

All is good if you change `TRAVIS.BUILD_WEB_URL` to `TRAVIS.TRAVIS_BUILD_WEB_URL`. I can try to submit changes to `trav` that would fix it, but I think that'

[2018-11-26 22:47] andrewda commented on #226
Ah my bad, I didn't catch the repercussions that the trav change would have here. We should probably keep the new names on trav as it's easier to adjust if Travis ever adds more/removes variables, and makes the properties aligned with environment variables. As @kx-chen said, the fix is just:

[code]

[2018-11-27 08:57] li-boxuan commented on #226
@kx-chen Would you like to fix this issue?

[2018-11-27 08:58] kx-chen commented on #226
Sure.

[2018-11-29 02:49] #226 closed

[2018-11-30 15:45] utkarsh2102 commented on #46
@KVGarg, no. Becuase you've done 2 `newcomer` PRs already.
@jayvdb, this could be a GCI issue. Or a good `newcomer` issue.

[2018-11-30 15:58] KVGarg commented on #46
Ok @utkarsh2102 I will look upon some medium or low level issues 😉

[2019-01-16 19:00] AkshJain99 commented on #173
@li-boxuan  please assign me this issue

[2019-01-17 14:25] AkshJain99 commented on #173
@li-boxuan  how can we improve this or i mean what improvement is needed in this algorithm

[2019-01-20 19:59] AkshJain99 commented on #194
@li-boxuan assign me this issue

[2019-01-21 07:12] li-boxuan commented on #194
No, see https://github.com/coala/community/issues/194#issuecomment-422658089

[2019-01-21 07:56] AkshJain99 commented on #194
Then I think we can close this issue

On Mon, 21 Jan 2019, 1:07 pm Akshit Jain <notifications@github.com wrote:

[2019-01-22 07:00] KVGarg opened #230 "Add check for "www.github.com" and "www.gitlab.com""
The `resource` key in remote url can also have a value of `www.github.com` or `www.gitlab.com`.
Currently, it checks for `github.com` or `gitlab.com` due to which the command `.ci/build.sh` when executed in terminal raises the following Exception while running the app locally
[code]
This can be solved by putting an `OR condition` to check whether `url.resource` has a value of `www.github.com` or `

[2019-01-23 19:31] KVGarg commented on #207
Hi @jayvdb it seems that we haven't put the condition check for `verbosity` in our custom management commands because the predefined management commands, for example - `python manage.py findstatic static/main.css --verbosity 3` gives a verbose output because the django developers have specified a check for `verbosity` number
Similarly, we also need to provide a `check` for verbosity, that what use

[2019-01-25 16:44] KVGarg commented on #66
@jayvdb to work on this issue we need access to gci tasks that API endpoint -> https://codein.withgoogle.com/api/program/current/tasks/ which is only while a user has an account. But that is possible while GCI is on or someone has an account.
To test the changes, we need the API reference.
Any solution to this problem ?

[2019-01-25 17:51] KVGarg commented on #72
Graph is loading in Linux
![image](https://user-images.githubusercontent.com/35761292/51763181-e3a89d00-20f7-11e9-8c20-f07f78b7a9ca.png)

[2019-01-25 17:54] KVGarg commented on #72
Graph is getting displayed in Linux
![screenshot from 2019-01-25 23-21-45](https://user-images.githubusercontent.com/35761292/51763321-5285f600-20f8-11e9-93eb-c4224d8f83b7.png)

@ashwini0529 In which OS and browser were you facing this issue?

[2019-01-25 17:56] KVGarg commented on #72
Please can you re-check this, because when I opened that link the response is being received

[2019-01-25 18:39] KVGarg commented on #12
@sks444 can't we utilize the contributor team list that is currently being popped out from the structure, at line [35](https://github.com/coala/community/blob/master/data/contrib_data.py#L35), because scrapping the webpage using `BeautifulSoup or any other librabry` instead we can store this list as a JSON string (`json.dumps(teams)`) and then we can retrieve this and convert back to a JSON  dict

[2019-01-25 18:43] KVGarg commented on #140
@sks444 It seems that you have solved the issue. Will you be requesting a PR for this issue?

[2019-01-25 18:56] KVGarg commented on #89
Hi @jayvdb can we also accept contributors who have done commits above a specific number like above 25 or 40 commits, then that user will be accepted because there may be situation he might not have created a PR but has made commits directly to the master branch ?

[2019-01-26 20:17] ashwini0529 commented on #72
It works now. 😄

[2019-01-26 20:17] #72 closed

[2019-01-31 05:06] #192 closed

[2019-01-31 05:53] #223 closed

[2019-01-31 09:02] #129 closed

[2019-01-31 16:59] AkshJain99 commented on #90
@jayvdb  please assign me this issue

[2019-01-31 17:57] AkshJain99 commented on #90
so what all types of file we need in generalization section @jayvdb can't we specify particular extension of all the files  needed to us?

[2019-01-31 19:37] KVGarg commented on #207
@jayvdb Currently all the information (debugging and error information) is being logged into the log file. We can make use verbose to either log only error/warning messages or both(info + error messages).
verbose=0 -> Will lead to log only error messages
verbose>=1 -> will log both info as well as error messages

[2019-02-01 13:36] KVGarg commented on #89
To achieve this task without ***webtask.io***, following steps could be taken in order to enhance the website:
1. Using **netlify** forms and **django** forms, we can create a form with three fields - username, password and issue reference url (optional). If username and password is current and the reference url is also correct, then further step 2 will take place and if failes with any error, tha

[2019-02-01 13:56] KVGarg commented on #139
@sks444 Are you currently working on it ??

[2019-02-03 09:43] jayvdb commented on #90
@AkshJain99 , you have not understood the issue, so .. no .. you can not be assigned. Only asked to be assigned to issues you understand.

[2019-02-04 04:44] sks444 commented on #139
No @KVGarg, you can take this up.

[2019-02-04 05:55] AkshJain99 commented on #90
@jayvdb  sorry i have assigned this early but now i got to understand the issue i have check coala logs and also git ignore and trying to figure out the extra unuse files on which coala is running

but one thing waana ask your logs show something else as shown above in description but my logs is this
[code]
by this I am not able to figure out on which file actually coala is running

[2019-02-04 06:09] jayvdb commented on #90
No, you havent understood the issue.  Your comments here show that.  What is the goal of the generalisation section of .coafile ?

[2019-02-04 12:01] AkshJain99 commented on #90
as far as i understand @jayvdb  ithink generalisation section is defined so as to make this file generalised for everyone who use it ,here keyword bear is use which lint all the files and search for the keyword given (here coala) and ignore that keyword in files given so that anybody can use it other that coala

is it something right what i am thinking?

[2019-02-04 20:09] KVGarg opened #232 "Deploy of fork to netlify fails the build"
Following the [instructions](https://github.com/coala/community/#deploy-netlify-on-your-fork-) to deploy the changes pushed in forked repo on netlify is failing the build.
Error log - https://gist.github.com/KVGarg/db41b5f3019513f3659dd44c014ba27c

[2019-02-05 03:03] jayvdb opened #233 "moban sync needed"
See https://gitlab.com/coala/mobans readme for steps

[2019-02-07 09:31] KVGarg commented on #66
@jayvdb I wasn't able to figure out that apart from adding `status` attribute  to each task, do we need to make some additional changes in code where cleansing of instances is [taking place](https://github.com/coala/community/blob/master/gci/students.py#L80) ?

[2019-02-07 14:01] KVGarg opened #235 "".ci/build.sh" fails to execute if more than one remote-url exists"
Steps to reproduce the error:
1. Add one more remote url (say upstream) to the forked repository using:
`git remote add upstream https://github.com/coala/community.git`
2. Run `.ci/build.sh`

**[Error log](https://gist.github.com/KVGarg/8ee5faab4494ba5034b1c63a856a3ed0)**

[2019-02-08 15:52] jayvdb commented on #66
You can not get a GCI TOKEN - it is admins only as it gives access to sensitive information about minors- tightly regulated by Google.

You need to use the deployed tasks.yaml , in https://github.com/coala/community/tree/gh-pages/static

re `status=2`, so my PR, which clarifies the status.

[2019-02-08 21:52] KVGarg commented on #66
@jayvdb Should I make changes in both management commands - `fetch_deployed_data` and `fetch_gci_task_data` or in just one - `fetch_deployed_data` ?

[2019-02-09 08:40] KVGarg commented on #66
There were some tasks which were having `max_instances=1` but either there was no external url or the external url was not correct i.e. it was listing all the issues of the repository. So, won't be able to find task_state for those tasks.

[2019-02-09 10:50] jayvdb commented on #66
The change needs to be in the gci/ modules on master, not in any management command as those are thin wrappers. ignore tasks without precise issue urls.

[2019-02-09 10:54] KVGarg commented on #66
@jayvdb On running `fetch_deployed_data` and `cleanse_gci_task_data` the files "tasks.yaml" and "instances.yaml" will be re-written by fetching the latest data.
In "tasks.yaml" the tasks who are having `max_instances=1` and `an issues url` that task will have an extra attribute name `state` with 3 possible values "COMPLETED, AVAILABLE or CLAIMED".
After this, the "instances.yaml" will be re-writte

[2019-02-10 08:40] AkshJain99 commented on #232
@KVGarg  ithink this issue is already opened by  sks444 #189 , isn't it?

[2019-02-10 08:56] siddhpant opened #237 "coala requires new version of git-url-parse"
Travis CI fails as coala requires use of latest version of git-url-parse (1.2.0) but version 1.1.0 is used.

[Error as shown here:](https://travis-ci.org/coala/community/jobs/490882763#L1096)

[code]

Probably the new version doesn't have much change to break other things.

[2019-02-10 09:05] KVGarg commented on #232
I don't think, it is related to that issue. Because here the netlify build is failing due to non-availability of correct Repository URL.
Check https://gist.github.com/KVGarg/db41b5f3019513f3659dd44c014ba27c#file-community-netlify-build-L226

[2019-02-10 09:08] AkshJain99 commented on #232
okay but incoorect repository url in the sense what ??  what you think what can be the solution for this?

[2019-02-10 09:40] KVGarg commented on #232
IDK, I have to debug the code to get the right solution.
Also, I think we need to provide same configuration (environment variables) that are being set while deploying new site on netlify that are already set for master branch on netlify.
Maybe we are missing some information in README.md

[2019-02-10 10:09] KVGarg commented on #232
Maybe related to #171

[2019-02-10 11:21] KVGarg commented on #235
It is returning two GitUrlParsed objects, if there are 2 git remote specified

[2019-02-10 17:58] KVGarg commented on #78
PublicLab's [community website](https://code.publiclab.org/) is a one-page website where they are providing all the essential information to newcomers also. They are displaying newcomers' issue on that page only without showing that somewhere else.
and comparing with our existing [community website](http://community.coala.io/) we are providing static data with more useful information than publicla

[2019-02-11 04:40] KVGarg commented on #171
@sks444 @jayvdb What all information need to be provided in `netlify.toml` ?
Following the [getting started](https://www.netlify.com/docs/netlify-toml-reference/#getting-started) guide

[2019-02-11 09:09] KVGarg commented on #232
While deploying a branch on netlify, following problems have been coming listed below being raised from `get_irep()` [function](https://github.com/KVGarg/community/blob/deploy_branch/community/git.py#L111)
1. [hoster](https://github.com/KVGarg/community/blob/deploy_branch/community/git.py#L115) returned as None
2. `Owner` and `Name` attributes in [url](https://github.com/KVGarg/community/blob/depl

[2019-02-11 09:33] KVGarg commented on #232
After spending 3-4 hrs on it, finally solved that above solution :open_mouth:
But as usual failing with building static website :disappointed:

[2019-02-12 09:14] KVGarg commented on #21
How to re-produce this error ? Because currently there is no such build failure while we deploy new changes !!

[2019-02-13 09:06] KVGarg commented on #207
Getting confused, is it related to terminal output or the output that is logged in log file.

[2019-02-13 09:29] KVGarg commented on #191
@jayvdb I emailed the gci team, to know whether they will be making an API for it. They replied that there is no such possibility. So, can you guide me firther what should be done further?

[2019-02-13 10:36] KVGarg commented on #159
@andrewda It's not failing anymore. Can you please re-verify it whether the build is failing or not? If it's failing, I will like to look over this issue :-)

[2019-02-13 12:29] KVGarg opened #238 "FIx - Cannot save testuser1 as a contributor"
Message displayed in terminal while `.ci/build.sh` is executed -
`Something went wrong saving this contributor testuser1: 'issues'`

[2019-02-13 13:11] KVGarg opened #239 "Add favicon to website"

[2019-02-13 14:49] jayvdb commented on #21
Look at distill-local source code

[2019-02-13 15:31] KVGarg commented on #140
@jayvdb @sks444 Would like to work on this issue. Please assign this to me!

[2019-02-14 09:30] aedorado commented on #239
@KVGarg Talking about https://api.coala.io/en/latest/? Can I take this up?

[2019-02-14 10:02] li-boxuan commented on #239
@aedorado No. This one: https://coala-community.netlify.com/

[2019-02-14 11:08] KVGarg opened #241 "moban sync needed"
See [moban](https://gitlab.com/coala/mobans) readme for steps

A Newcomer issue

[2019-02-15 12:34] KVGarg commented on #239
The favicon should be added for all the pages, not just for `index.html`

[2019-02-15 12:36] KVGarg commented on #232
@jayvdb Can I create a PR for this issue, if it is a valid issue?

[2019-02-15 18:35] KVGarg commented on #171
Have gone through [netlify.toml reference](https://www.netlify.com/docs/netlify-toml-reference/), I figured out that we need only two variables in the file - `build` and `publish`. Do we need any more variables for the 3 contexts - Production, Deploy-preview and branch -deploy ?

[2019-02-26 04:11] KVGarg commented on #207
Getting confused, is it related to terminal output or the output that is logged in log file.
@jayvdb Can you help me whether this is related to terminal output or log file output because in issue title use of word `logging` is making me thinking that it is related to `log file output` but in general the verbosity output is used to display output in `terminal`. So can you please help me out, in ord

[2019-02-28 16:25] KVGarg commented on #237
@siddhpant Earlier I was also getting this error, but I re-pushed the changes for an issue. Not getting that error anymore. Can you confirm whether this issue still needs importance or not ?

[2019-03-02 20:03] KVGarg commented on #89
@jayvdb Currently invitation to newcomers are being sent without any rudimentary checks, so for newcomers we can create a form with some basic security checks like the user isn't fake, user hasn't submitted more than requests, also user is already a member of newcomer and making another request to get assigned to a new issue.
And, there can be another form with the checks that you have suggested t

[2019-03-12 13:49] CryoScythe commented on #230
Hey! Can I be assigned the issue.

[2019-03-12 15:17] KVGarg commented on #230
I don’t know whether it is a valid bug or not. Let `@li-boxuan` decide. After then you can work on it if its a valid issue.

[2019-03-14 13:01] AkshJain99 commented on #173
i am working on another issue for a while if anyone need to take it up please feel free to ask

[2019-03-28 21:05] KVGarg commented on #55
Thought of this possible idea
![New Logo](https://user-images.githubusercontent.com/35761292/55192745-34f20d00-51cb-11e9-93cc-d56112f26d9c.png)

[2019-05-08 08:56] KVGarg opened #243 "Build failing due to latest version of django getting installed"
Django v2.1.7 should be installed as it depends upon Ubuntu Trusty v14.04 and makes the CI builds green. Installing latest version is leading to problems as it requires Sqlite v3.8.3 or later version which isn't available in Ubuntu Trusty. Available for now in Ubuntu Xenial image.

[2019-05-15 23:35] jayvdb commented on #243
The solution is to use the xenial image.  Then you saw other problems with Django 2.2.  They should be documented here in this issue.

And there were problems also with Django 2.1 ?  They should be documented in a separate issue.

[2019-05-16 10:43] KVGarg opened #247 "pytest v4.4.0 is causing build failures"

[2019-05-16 11:04] jayvdb commented on #247
This is probably because of the pytest-django dependency.

[2019-05-16 14:14] KVGarg commented on #243
Using xenial image is installing later versions of py>1.5.2, pluggy>0.6.0. One of the reasons due to which build is failing when using xenial. Ubuntu xenial image has to be used if want to work with django v2.2 as it no longer supports sqlite v3.8.2

When using xenial image-
Issues with Django v2.1.7 when pytest v4.4.0 or later is installed with it? Please refer [build](https://travis-ci.org/coala

[2019-05-16 16:22] KVGarg commented on #232
**The local deployed branch on netlify of forked version is passing the build.** So, I guess the issue is no more valid. Maybe to due to node version up-gradation or some packages got upgraded the build is getting passed :+1+
Closing for now, until the issue rises again in future

[2019-05-19 06:18] #241 closed

[2019-05-19 06:18] #243 closed

[2019-05-19 06:50] KVGarg opened #248 "Incorrect coala twitter URL on community website"
When  coala twitter webpage is being opened from any **deploy preview** of any PR, it redirects the user to https://twitter.com/coala instead of https://twitter.com/coala_io
For example - open following [deploy preview](https://deploy-preview-244--coala-community.netlify.com/twitter/) and click on given link. It will redirect to wrong webpage.

[2019-05-23 17:36] KVGarg commented on #55
Some coala community logo designs https://drive.google.com/drive/folders/113UVZimTZo3rgZqdhq-0a0druyZfQJJH?usp=sharing

[2019-06-15 11:38] KVGarg opened #255 "Redesign the community website homepage"

[2019-06-15 11:39] KVGarg opened #256 "Redesign the community website build-logs webpage"
The new web-page should combine [info.txt](http://community.coala.io/info.txt) and [logs](http://community.coala.io/log/) webpages.

[2019-06-15 11:39] KVGarg opened #257 "Redesign the GCI students web-page"

[2019-06-15 11:41] KVGarg opened #258 "Redesign the contributors webpage acc. to decided design"
Decided design: https://gitlab.com/coala/GSoC/gsoc-2019/uploads/dd5e7fe75e3bbd7496c0e6a839e9fc27/Contributors.png

[2019-06-15 11:43] KVGarg opened #259 "Redesign the meta-review webpage"

[2019-06-15 11:44] KVGarg opened #260 "Redesign the gamification leaderboard web-apge"

[2019-07-11 07:50] KVGarg opened #262 "Add netlify-oauth"

[2019-07-15 06:01] KVGarg commented on #232
The `git.py` needs to updated! Made changes in a pull_request created in coala-webservices!

[2019-07-15 09:29] #232 closed

[2019-07-18 06:24] KVGarg opened #264 "Create a user profile page"
The design of profile page should be based on the following mockup design https://gitlab.com/coala/GSoC/gsoc-2019/issues/267#note_178633245

[2019-07-18 06:25] KVGarg opened #265 "Add form for adding a new Google form to profile page"

[2019-07-18 06:30] KVGarg opened #266 "Add Newcomers form to community website"
The form should me created in a manner to allow users to join the community with performing some rudimentary checks. Using netlify forms, the submissions will be saved on netlify itself and a cron job should be defined in coala-webservices to fetch all such submissions and run the checks on each submission. Passing the checks, will send an invite to the user else an email will be sent informing th

[2019-07-30 16:21] KVGarg opened #268 "Display contributor statistics"

[2019-07-30 18:23] KVGarg commented on #247
The CI is getting failed again!

[2019-07-30 19:45] KVGarg opened #270 "Add form for adding/updating a calendar event"

[2019-07-30 19:48] KVGarg opened #271 "Add a web-page for mentors on community website"

[2019-07-30 19:51] KVGarg opened #272 "Add form for applying as a mentor in GSoC"

[2019-07-30 19:51] KVGarg opened #273 "Add form for adding yourself a GSoC participant"

[2019-07-30 19:52] KVGarg opened #274 "Create a feedback form"

[2019-07-30 19:52] KVGarg opened #275 "Update Readme.md of coala-community repository"

[2019-07-31 17:34] KVGarg opened #280 "Add form to assign issues to users"

[2019-07-31 17:35] KVGarg opened #281 "Add a contributor promotion form"

[2019-08-01 11:15] KVGarg opened #285 "Install and Use openhub_django pypi package"

[2019-08-02 10:33] KVGarg opened #287 "Add a webpage about org teams"
Will only be visible to authenticated users

[2019-08-02 12:02] KVGarg opened #288 "Create a new webpage for inactive issues"

[2019-08-02 12:10] KVGarg opened #289 "Add a webpage for unassigned issues"

[2020-07-04 09:14] #235 closed

[2020-07-05 04:06] #55 closed

[2021-03-15 12:40] sharhan-alhassan opened #297 "db.sqlite3"
Should db.sqlite3 have an * in the .gitignore file? The db.sqlite is not ignored and get exposed on github

[2021-05-13 16:57] #255 closed